* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
border-radius:10px;
    height: 100px;
    width: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the background image with a fallback color */
    background:url('background.png');
    background-size: cover;
}

.background {
    background: rgba(255, 255, 255, 0.9); /* Dark background for form */
    padding: 20px;
    border-radius: 10px;
   
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.login-container img {
display: block;
    margin: 0 auto 20px; /* Center horizontally and add space below */
    width: 100px; /* Responsive image */
    height: auto;
             }
.login-container h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    color: black;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.remember-me {
    margin-bottom: 15px;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* You can change this to another color if needed */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: black;
}

.forgot-password {
    text-align: center;
    color: black;
}

.signup-text {
    text-align: center;
    color: black;
    margin-top: 10px;
}